@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,500;1,400;1,500&display=swap");
//colr variables
$color-1: #222831;
$color-2: #393e46;
$color-3: #00adb5;
$color-4: #eeeeee;
body {
  background-color: $color-1;
  color: $color-3;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  .App {
    .made-by {
      font-size: 0.9rem;
      text-align: center;
      a {
        color: $color-3;
        text-decoration: none;
        &:hover {
          color: $color-4;
        }
        &:active {
          color: lighten($color: $color-3, $amount: 10);
        }
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h2 {
      margin-top: 2rem;
      svg {
        animation: rotation 1s ease infinite;
        @keyframes rotation {
          to {
            transform: rotate(359deg);
          }
        }
      }
    }
    .container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      height: 60vh;
      @media (max-width: 600px) {
        flex-direction: column;
        height: 100%;
      }

      .previewer-container {
        h6 {
          font-size: medium;
          text-align: center;
        }
        #preview {
          @media (max-width: 600px) {
            width: 100vw;
          }
          color: $color-2;
          background-color: $color-4;
          overflow-y: scroll;
          padding: 2rem;
          max-height: 100%;
        }
      }
      .editor-container {
        h6 {
          font-size: medium;
          text-align: center;
        }
        #editor {
          @media (max-width: 600px) {
            min-height: 30vh;
            width: 100vw;
          }
          background-color: $color-4;
          font-family: "Source Code Pro", monospace;
          padding: 2rem;
          height: 100%;
          resize: vertical;
        }
      }
    }
  }
}
